/* временные стили для наглядности блоков */
/* div,
ul {
	border: 3px rgba(255, 166, 0, 0.433) solid;
}
a {
	border: 2px rgba(0, 89, 255, 0.554) solid;
}
li,
p,
h1,
h2,
h3 {
	border: 2px rgba(21, 255, 0, 0.554) solid;
} */
/* конец временных стилей */

/* стили для адаптива */
header,
footer,
section {
    overflow: hidden;
}

.burger--desable {
    display: none;
    width: 0;
}

@media (max-width: 1320px) {

    .header__group:nth-child(3) {
        width: 40%;
    }

    .about__list-item {
        padding: 90px 15px;
    }

    .card__name {
        margin: 0;
        padding: 0;
        margin-bottom: 1.5rem;
    }

    .card__container {
        margin-bottom: 1rem;
    }

    .long-card__img-box * {
        width: 100%;
    }

    .long-card__img-box {
        width: 150%;
        display: flex;
    }

    .quotes__container {
        flex-direction: column;
    }

    .quotes__content-box {
        margin-bottom: 20px;
        margin-right: 0;
    }

    .quotes__container {
        padding-top: 50px;
    }

    .pam {
        background-position: center right;
        background-size: 60%;
    }

    .help__container {
        padding: 0;
    }

    .help__content-box {
        padding-left: 100px;
    }

    .sign__fotm {
        display: flex;
        flex-wrap: wrap;
    }

    .sign__email {
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    .footer__container {
        align-items: flex-start;
        flex-direction: column;
        padding: 80px 7%;
        min-height: 300px;
    }

    .footer__group {
        margin-bottom: 10px;
    }

    .footer__links {
        margin-right: 5rem;
    }

    .full-screen {
        padding-top: 40px;
    }

    .footer__group:first-child {
        width: 100%;
    }
}

@media (max-width: 1000px) {

    .header__container {
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .header__group:nth-child(3) {
        width: 100%;
    }

    .header__group--links .header__links {
        justify-content: flex-end;
    }

    .full-screen {
        height: 450px;
    }

    .main-small-heading {
        margin-bottom: 8px;
    }

    .main-medium-heading {
        margin-bottom: 16px;
    }

    .contacts__brand:not(:nth-last-child(-n + 2)) {
        margin-bottom: 2rem;
    }

    .contacts__brand {
        width: 200px;
    }

    .contacts__brands {
        justify-content: center;
        flex-wrap: wrap;
    }

    .pam {
        background-image: none;
    }

    .pam__content-block {
        width: 100%;
    }

    .about {
        height: inherit;
    }

    .about__list {
        display: flex;
        flex-direction: column;
        margin-bottom: 5rem;
    }

    .about__list-item {
        padding: 40px 10px;
    }

    .about__card {
        display: flex;
        flex-direction: row;
    }

    .about__list-item {
        position: relative;
    }

    .card__name {
        min-width: 175px;

        display: block;
        position: absolute;
        top: 15%;

        right: 35%;
        bottom: 0;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .card__container {
        margin-right: 10px;
    }

    .btn {
        padding: 10px 15px;
        min-width: 180px;
        min-height: 60px;
    }

    .about__fraim {
        padding: 8rem 0;
    }

    .stats__1-half {
        padding-right: 50px;
    }

    .stats__2-half {
        padding-left: 50px;
    }

    .long-card__img-box {
        display: none;
    }

    .blog__card {
        padding: 0 30px;
        margin-bottom: 100px;
    }

    .long-card__heading {
        margin-bottom: 10px;
    }

    .long-card__descr {
        margin-bottom: 15px;
    }

    .sign__text-box {
        margin-right: 40px;
        width: 50%;
    }

    .help {
        padding-top: 100px;
    }

}

@media (max-width: 800px) {

    .container {
        padding: 0 5%;
    }

    .header__group--links {
        display: none;
        margin: 0 auto;
    }

    .burger {
        display: flex;
        flex-direction: column;
        min-height: 60px;
        max-height: 60px;
        width: 60px;
        margin: 0;
        padding: 0;
        justify-content: space-evenly;
        z-index: 5;
    }

    .header__links {
        justify-content: space-evenly;
    }

    .burger--cross {
        position: relative;
    }

    .burger .burger__line {
        transform: rotate(0deg);
        opacity: 100;
        transition: transform ease 0.4s;
    }

    .burger .burger__line:nth-child(2) {
        transition: all ease 0.7s;
    }

    .burger--cross .burger__line {
        background-color: blue;
    }

    .burger--cross .burger__line:nth-child(3) {
        position: absolute;
        top: 50%;
        transform: rotate(45deg);
        transform-origin: center;
        transition: all ease 0.4s;
    }

    .burger--cross .burger__line:nth-child(1) {
        position: absolute;
        top: 50%;
        transform: rotate(-45deg);
        transform-origin: center;
        transition: all ease 0.4s;
    }

    .burger--cross .burger__line:nth-child(2) {
        transition: all ease 0.1s;
        opacity: 0;
    }

    .burger__line {
        width: 100%;
        height: 3px;
        background-color: black;
    }

    .header__group--burger {
        transform: translateY(-450px);
        transition: transform ease 0.5s, visibility ease 90s;
        position: absolute;
        left: 0;
        top: 0;
        background-color: white;
        width: 100% !important;
        max-height: 700px;
        min-height: 500px;
    }

    .burger--open {
        display: flex;
    }

    .burger--open {
        visibility: visible;
        transform: translateY(2px);
        transition: transform cubic-bezier(0.165, 0.84, 0.44, 1) 1s;
        width: 100% !important;
        padding-top: 20px;
        max-height: 700px;
        min-height: 500px;
        border-radius: 10%;
        border: 2px dashed red;
        border-top: none;
        border-left: none;
        border-right: none;

        backdrop-filter: blur(5px);
    }

    .header__group--burger>* {
        display: flex;
        flex-direction: column;
    }

    .header__logo {
        display: none;
    }

    .header__links--burger {
        width: inherit;
        justify-content: space-evenly;
    }

    .header__link:not(:last-child) {
        margin: 0;
        width: 200px;
        text-align: start;
        font-size: 48px;
    }

    .header__link {
        margin: 0;
        width: 200px;
        text-align: start;
        font-size: 48px;
    }

    .contacts {
        display: none;
    }

    .pam,
    .about__fraim,
    .help {
        padding: 100px 0;
    }

    .footer {
        padding: 50px 0;
    }

    .footer__container {
        min-height: 100px;
    }

    .stats {
        flex-direction: column;
        align-items: normal;
    }

    .stats__1-half,
    .stats__2-half {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .quotes {
        padding-top: 50px;
    }
}

@media (max-width: 640px) {

    .pam,
    .about__fraim,
    .quotes,
    .help,
    .footer {
        padding: 50px 0;
    }

    .card__container {
        display: none;
    }

    .card__name {
        display: inline-block;
        position: inherit;
    }

    .about__list-item {
        padding: 15px 10px;
    }

    .about__list {
        margin-bottom: 2rem;
    }

    .main-medium-heading {
        font-size: 36px;
    }

    .blog__card {
        margin-bottom: 80px;
    }

    .sign__text-box,
    .sign__contact {
        width: 100%;
        margin: 0;
    }

    .sign__box {
        flex-direction: column;
    }

    .footer__links {
        width: 100%;
        flex-wrap: wrap;
        margin: 0;
    }

    .footer__link {
        min-width: 115px;
        margin: 0;
    }

    .footer__group:first-child {
        width: 100%;
    }

    .footer__group:nth-child(2) {
        width: 100%;
    }

    .help__content-box {
        padding: 0;
    }

    .help__header-box {
        margin-bottom: 30px;
    }
}

@media (max-width: 440px) {

    /* ну  причесать все */
    body .header__link:nth-child(1n) {
        font-size: 36px;
    }

    .pam__btn-block {
        flex-direction: column;
        height: inherit;
        margin: 0;
        width: 100%;
        max-width: inherit;
    }

    .simple-text {
        margin-bottom: 30px;
    }

    .about__card {
        flex-direction: column;
    }

    .about__list-item {
        padding: 10px 30px;
    }

    .about__btn-container {
        flex-direction: column;
        margin: 0;
        width: 100%;
        padding: 0 30px;
    }

    .about__btn--red {
        margin: 0;
        margin-bottom: 15px;
    }

    .stats__ico {
        display: none;
    }

    .stats__1-half,
    .stats__2-half {
        flex-direction: row;
        margin: 0;
        padding-left: 30px;
    }

    .stats__numbers {
        margin: 0;
        margin-right: 10px;
    }

    .stats__2-half {
        padding-right: 0;
    }

    .blog__container-heading {
        padding-top: 50px;
    }

    .blog__card {
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 40px;
    }

    .long-card__btn-container {
        flex-direction: column;
    }

    .long-card__btn {
        margin: 0;
        margin-bottom: 10px;
    }

    .long-card__descr {
        width: 100%;
    }

    .quotes__container {
        max-height: inherit;
        height: inherit;
    }

    .quotes__text-box {
        height: inherit;
    }

    .quotes__card {
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .quotes__img {
        margin-bottom: 10px;
    }

    .quotes__content-box {
        margin-bottom: 0;
    }

    .help__descr {
        text-align: left;
        margin-bottom: 15px;
    }

    .get__btn-box {
        max-width: 100%;
        flex-direction: column;
        margin-bottom: 40px;
    }

    .btn--white {
        margin-bottom: 10px;
    }

    .sign__header {
        line-height: 40px;
    }

    .sign__descr {
        margin-bottom: 15px;
    }
}

@media (max-width: 350px) {
    .footer__container {
        min-height: 200px;
    }
}