* {
    box-sizing: border-box;
}


/* font-family: 'Quicksand', sans-serif;
font-family: 'Roboto', sans-serif; */
/* общие стили */
.container {
    padding: 0 10%;
    display: flex;
    width: 100%;
    max-width: 2000px;
    margin: 0 auto;
}

li, ul {
    list-style-type: none;
}

.main-small-heading {
    margin: 0;
    padding: 0;
    color: #3D4F9F;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.main-medium-heading {
    margin: 0;
    padding: 0;
    color: #3D4F9F;
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    margin-bottom: 28px;

}

.simple-text {
    margin: 0;
    padding: 0;
    color: #8D96BD;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.03em;

}

.btn {
    margin: 0;
    padding: 5px 10px;
    background: transparent;
    border: 1px solid #D1D1E4;
    text-decoration: none;
    color: #ADB4D2;
    min-width: 140px;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* хидерр */
.header__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    padding: 0 7%;
}

.header__group {
    display: flex;
    justify-content: space-between;
    width: max-content;



}

.header__group:first-child {
    width: 60%;
}

.header__links {
    padding: 0;
    margin: 0;
    display: flex;
    width: 80%;
    align-items: center;
}

.header__link:not(:last-child) {
    margin-right: 42px;
}

.header__link {
    font-family: 'Quicksand', sans-serif;
}

.header__group:nth-child(2) {
    width: 30%;
}

.header__ico:not(:last-child) {
    margin-right: 33px;
}

.header__main-btn {
    padding: 5px 10px;
    background: #D2E1FF;
    min-width: 115px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    color: #3A79FF;
    font-family: 'Quicksand', sans-serif;
}

.contacts__brand * path,
.header__ico * path {
    fill: #B6BAC7;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 5s;
}

.contacts__brand:hover * path,
.header__ico:hover * path {
    fill: #6188FF;
    cursor: pointer;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 5s;
}

/* секция full-screen */

.full-screen {
    background: url(../image/hero\ image.png) no-repeat;
    background-size: cover;
    height: 570px;
}

.full-screen__main-title-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    padding-top: 95px;
    text-align: center;
}

.prod {
    font-weight: 500;
}

/* секция contacts */

.contacts__brands {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100%;
    padding: 65px 0;
    justify-content: space-between;
}

/* секция pam */

.pam__content-block {
    width: 50%;
}

.pam {
    background: #F5F8FF;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: url(../image/devises.png);
    background-repeat: no-repeat;
    background-position: top 120px right;
    background-size: 60%;
}

.pam__small-header {
    padding: 0;
    margin: 0;
    margin-bottom: 27px;
}

.pam__medium-header {
    padding: 0;
    margin: 0;
    margin-bottom: 27px;
    text-align: left;
}

.pam__descr {
    text-align: left;
    margin-bottom: 60px;
}

.pam__btn:first-child {
    border-right: none;
}

.pam__btn-block {
    max-width: 250px;
    height: 42px;
    display: flex;
}

.btn:hover {
    background-color: #4C85FF;
    color: #FFFFFF;
    transition: background-color cubic-bezier(0.165, 0.84, 0.44, 1) 3s,
        color cubic-bezier(0.165, 0.84, 0.44, 1) 0.3s;
}

@media (min-width: 1700px) {
    .pam {

        background-size: 40%;
        /* до адаптива */
    }
}

@media (max-width: 1350px) {
    .pam {

        background-size: 40%;
    }

}

/* секция about */
.about {
    height: 1000px;
    background-image: url(../image/clouds.png);
    background-repeat: no-repeat;
    background-position: center;
}

.about__container {
    justify-content: center;
}


.about__headers {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40%;
    justify-content: flex-end;
}

.about__list {
    padding: 0;
    margin: 0;
    display: flex;
}

.about__list-item {
    width: 100%;
    padding: 90px 45px;
}

.about__card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__name {
    padding: 30px 0;
    font-family: 'Open Sans';
    color: rgba(64, 116, 248, 1);
}

.about__btn-container {
    display: flex;
    justify-content: center;
    width: 25%;
    margin: 0 auto;
}

.about__btn {
    background: #D2E1FF;
    color: rgba(58, 121, 255, 1);
    font-family: 'Quicksand';
}

.about__btn--red {
    margin-right: 55px;
    background: #FFD7D7;
    color: rgba(212, 63, 63, 1);
}

.about__btn:hover {
    background: #FFD7D7;
    color: rgba(212, 63, 63, 1);
    transition: cubic-bezier(0.165, 0.84, 0.44, 1) 2s;
}

.about__btn--red:hover {
    background: #D2E1FF;
    color: rgba(58, 121, 255, 1);
    transition: cubic-bezier(0.165, 0.84, 0.44, 1) 2s;
}

/* cекция stats */
.stats {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    background-color: rgba(104, 136, 255, 1);
    width: 100%;

}

.stats__1-half {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 90px;
    font-family: 'Quicksand';
    color: white;

}

.stats__2-half {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: -50%;
    padding-right: 50%;
    background-color: rgba(233, 239, 255, 1);
    padding-left: 90px;
    color: rgba(94, 128, 255, 1);
    font-family: 'Quicksand';
    padding-top: 60px;
    padding-bottom: 65px;
}

.stats__numbers {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

.stats__descr {
    margin: 0;
    padding: 0;

}

.stats__ico {
    margin-bottom: 20px;
}



/* cекция blog */

.blog {
    background: #F5F8FF;
}

.blog__container {
    display: flex;
    flex-direction: column;

}

.blog__container-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

.blog__medium-heading {
    font-weight: 500;
}

.blog__card {
    display: flex;
    background: white;
    margin-bottom: 200px;
}

.long-card__heading {
    margin: 0;
    padding-bottom: 30px;
}

.long-card__content-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Quicksand';
    color: #3D4F9F;
    height: 450px;

}

.long-card__descr {
    text-align: left;
    padding-bottom: 40px;
    width: 80%;
}

.long-card__btn-container {
    display: flex;
}

.long-card__btn {
    background: #D2E1FF;
    color: #3A79FF;
    font-family: 'Quicksand';
}

.btn--white {
    margin-left: 10px;
    background: #FFFFFF;
    color: #A6B6DA;
    padding: 5px 30px;
}

/* секция quotes */

.quotes {
    background: linear-gradient(180deg, #EAF0FF 0%, #F6F9FF 100%);
}

.quotes__container {
    height: 480px;
    align-items: center;
}

.quotes__content-box {
    margin-right: 130px;
}

.quotes__mini-header {
    margin-bottom: 30px;
    font-weight: 500;
}

.quotes__big-header {
    display: flex;
    font-family: 'Quicksand';
    font-weight: 500;
}

/* .quotes__card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 40px 70px;
}

.quotes__img {
    width: 70px;
    height: 70px;
} */
.quotes__text-box {
    background: rgba(255, 255, 255, 1);
    width: 420px;
    height: 170px;
}


.quotes__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-right: 70px;
    padding-left: 70px;
}

.quotes__img {
    width: 70px;
    height: 70px;
}

.quotes__descr {
    text-align: left;
}